.ui-layer {
  position: absolute;
  inset: 1rem;
  pointer-events: none;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.ui-top {
  display: grid;
  pointer-events: none;
  row-gap: .5rem;
}

.toolbar {
  padding: .25rem;
  background: var(--neutral-800);
  border-radius: .5rem;
  justify-self: center;
  pointer-events: auto;
}

.toolbar-content {
  display: grid;
  grid-auto-flow: column;
  gap: .25rem;
}

.toolbar-icon {
  appearance: none;
  display: flex;
  cursor: pointer;
  user-select: none;
  position: relative;
  border-radius: .25rem;
  border: none;
  background: none;
  color: var(--neutral-200);
}

.toolbar-icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: .25rem;
}

.toolbar-icon[aria-pressed="true"] .toolbar-icon-content {
  background: var(--primary-600);
  color: var(--primary-100);
}

.toolbar-icon[aria-pressed="false"] .toolbar-icon-content:hover {
  background: var(--neutral-700);
  color: var(--neutral-100);
}

.toolbar-icon-hint {
  position: absolute;
  right: .1875rem;
  bottom: .1875rem;
  font-size: .625rem;
  line-height: 1;
  color: var(--neutral-400);
}

.toolbar-icon[aria-pressed="true"] .toolbar-icon-hint {
  color: var(--infused-400);
}

.workspace-view {
  position: relative;
  isolation: isolate;
  width: 100vw;
  height: 100vh;
}

.frame-view {
  position: absolute;
}

.frame-view[data-selected="true"] {
  outline: .125rem solid var(--primary-400);
}

.frame-view-title {
  position: absolute;
  left: 0;
  top: -.375rem;
  translate: 0 -100%;
  font-size: .75rem;
  color: var(--neutral-400);
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 1em;
  cursor: pointer;
}

.frame-view[data-selected="true"] .frame-view-title {
  color: var(--primary-400);
}