.ui-layer {
  position: absolute;
  inset: 1rem;
  pointer-events: none;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

/* TODO: possibly use grid with named areas */
.top-center-layout {
  display: grid;
  row-gap: .25rem;
  justify-items: center;

  & * {
    pointer-events: auto;
  }
}